@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;600;700&display=swap');

$tff-hd: 'Bebas Neue', sans-serif;
$tff-body: 'Open Sans', sans-serif;
$accent1: maroon;
$accent1-hover:  lighten(maroon, 5%);

html {
  font-size: 100%;
}

body {
  background: hsl(352, 80%, 9%);
  font-family: $tff-body;
  font-weight: 400;
  line-height: 1.75;
  color: whitesmoke;
}

p {
    font-size: 1.3rem;
}

button {
    font-size: 3rem;
    padding: 0.25em 0.5em;
    line-height: 1;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: $tff-hd;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

label, select {font-family: $tff-body;}

.cardCont {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: center;

  gap: 2%;
}

.card {
  flex: 0 0 15%;
  margin-bottom: 50px;
  min-width: 250px;

  &-id {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10rem;
    padding: 0;
    margin: 0;
    opacity: 0.05;
    z-index: -1;
    line-height: 0.7;
  }
  
  &-name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0 0 0;
    width: 97%;
    padding: 0;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    z-index: -1;
    opacity: 0.3;
  }

  &-img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin-bottom: 50px;
  }
}

.pagination {

  width: 90%;
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;

  & > * {
    margin-top: 20px;
  }

  &-searchgroup {

    input {
      font-size: 1.2rem;
      padding: 0.35em 0.5em;
      margin-right: 20px;
    };
  }

  &-label, &-select {
    font-size: 1.1rem;
  }

  &-select {
    padding: 0.35em 0.5em;
    background-color: rgba(white, 0.5);
  }
}



.btn-primary {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  border: 0px;

  font-family: $tff-body;
  background-color: $accent1;
  color: whitesmoke;
  font-size: 1.1rem;
  padding: 0.75em 1.25em;
  font-weight: 600;
  cursor: pointer;

  transition: background-color 250ms ease;

  &:hover {
      background-color: $accent1-hover;
  }
}




// Flip Card Styles

.flip-card {
  // background-color: transparent;
  width: 300px;
  min-height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  background: rgba(white, 0.1);
  border-radius: 30px 0px;
  border: 1px solid rgba(white, 0.1);
}

.flip-card-front {
  // style
  display: flex;
  flex-direction: column;
  justify-content: end;

   // this allows the user to click the learn more button on flip-card-back
   // instead of highlighting the text on flip-card-front
  pointer-events: none;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;

  p {
    margin: 0;
  }

  table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;

    tr:first-child {
      border-bottom: 1px solid whitesmoke;
    }

    th, td {
      font-size: 1.3rem;
      font-weight: 300;
      padding: 0.2em;
    }


  }
}

.typeBox {
  display: flex;
  justify-content: center;
  gap: 10px;
  
  &-type {
    padding: 0.5em 1em;
    border-radius: 15px;
    text-transform: capitalize;
  }

  &-matchups {
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

  backdrop-filter: blur(7px) saturate(130%);

  display: flex;
  justify-content: center;
  overflow-y: auto;


  &-content {
    //box styles
    margin: 80px 0;
    width: 70%;
    height: min-content;
    background: rgba(lighten(hsl(352, 80%, 9%), 5%), 0.9);
    border-radius: 0px 50px;
    border: 1px solid rgba(white, 0.1);

    //grid styles
    display: grid;
    grid-template-areas:
    'name name name name .. .. .. type'
    'art art art .. tabs tabs tabs tabs '
    'evo evo evo .. desc desc desc desc '
    ;
    grid-template-columns: repeat(3, 1fr) 30px repeat(4, 1fr);
    grid-template-rows: min-content min-content 175px;
    gap: 20px 0px;

    // basic responsive styles
    @media screen and (max-width: 1000px) {
      grid-template-areas:
      'name name name name .. .. .. type'
      'art art art art art art art art'
      'evo evo evo evo evo evo evo evo'
      'tabs tabs tabs tabs tabs tabs tabs tabs'
      'desc desc desc desc desc desc desc desc'
      ;

      grid-template-rows: min-content;
    }

    @media screen and (max-width: 737px) {
      grid-template-areas:
      'name name name name name name name name'
      'art art art art art art art art'
      'evo evo evo evo evo evo evo evo'
      'tabs tabs tabs tabs tabs tabs tabs tabs'
      'desc desc desc desc desc desc desc desc'
      ;
    }
    
    padding: 30px;

    &-typeBox {
      grid-area: type;
      display: flex;
      align-items: center;

      @media screen and (max-width: 737px) {
        display: none;
      }
    }

    &-name {
      grid-area: name;
      // styles set so that content-name displays on top of decoration-name
      
      &-heading {
        position: relative;
        z-index: 1;
        width: max-content;

        // pokedex number
        &-id { 
          color: lighten(rgba($accent1, 0.4), 50%);
        }

        // pokemon name
        h4 {
          // border: 1px solid red;
          font-size: 5rem;
          margin: 0;
          position: relative;
          z-index: 1;
          margin-right: 30px;
        }

        // genus heading
        &-genus {
          margin: 0 30px 0 0;
          padding: 0 0 10px 0;
          font-size: 1.5rem;
          letter-spacing: 2px;
          font-family: $tff-body;
          text-transform: capitalize;
          text-align: right;
          color: rgb(200, 200, 200);
        }

        // decorative black box
        &::after {
          content:"";
          background: black;
          transform: translateX(-30px);
          position: absolute;
          clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
          width: 130%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }
      
    }

    &-img {
      grid-area: art;
      position: relative;
      max-height: 520px;

      img {
        display: block;
        position: relative;  // allows z-index to function
        z-index: 1;
        max-height: 475px;
        max-width: 100%;
        object-fit: cover;
        margin: auto;
      }

      &-shadow {
        transform: translateY(-100px);
        height: 140px;
        border-radius: 50%;
        margin: 0 auto;
        width: 90%;
        background-color: rgba(black, 0.5);
        position: relative; // allows z-index to function
        z-index: 0;
        filter: blur(20px);
      }

    }

    &-evo {
      grid-area: evo;
      height: 175px;

      display: flex;
      justify-content: center;

      &-sprite {
        width: calc((1/3)*100%);
        display: grid;
        place-items: center;
        position: relative;
        z-index: 1;
        
        img {
          transform: scale(1.3);
          transform-origin: center center;
          max-width: 100%;
        }

        // decorative circles (for highlighting the selected pkmn)
        &::after {
          content: '';
          background-color: var(--modal-sprite-bgcolor);
          position: absolute;
          aspect-ratio: 1 / 1;
          width: 100%;
          top: 50%;
          left: 50%;
          z-index: -1;
          border-radius: 50%;
          transform-origin: center center;
          transform: translateX(-50%) translateY(-50%) scale(0.8);
        }


        &::before {
            content: '\276F';
            position: absolute;
            right: 0;
            transform: translateX(3px);
            color: rgba(white, 0.3);
        }

        &:last-child::before {
            content: none;
        }
      }
      
    }

    &-desc {
      grid-area: desc;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin: 0;
      }
    }

    &-tabs {
      grid-area: tabs;
      // border: 1px solid rgba(red, 0.3);
      background-color: rgba(darken(hsl(352, 80%, 9%), 0%), 0.9);
      border-radius: 5px 20px;
      padding: 30px 40px;

      &-nav {
        display: flex;
        gap: 5%;
        border-bottom: 1px solid rgba(white, 0.5);
        margin-bottom: 10px;
      }

    }
  }
}


// modal tabs component styles
.tab {
  font-family: $tff-body;
  font-size: 1.1rem;
  // letter-spacing: 2px;
  text-transform: capitalize;
  flex: 1;
  padding: 0.8em 0em;
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  color: rgba(white, 0.5);
  transition: color 250ms ease-in-out, border 250ms ease-in-out;

  &:hover {
    border-bottom: 1px solid rgba(white, 0.9);
    color: rgba(white, 0.9);
  }
}

.tab-active {
  border-bottom: 1px solid rgba(white, 0.9);
  color: rgba(white, 0.9);
}

.modal-content-tabs-panel {

  .typematchup-sec {
    h3 {
      margin: 30px 0 10px 0;
    }
  }


  .chartOrder {
    margin: 20px 0;

    &-label, &-select {
      font-size: 0.9rem;
    }
  }

  .chartSVG {

    .rectGroup > rect:hover {
      opacity: 0.6;
    }

    .xGroup > .tick, .yGroup > .tick, .yGroup > text{
      text-transform: capitalize;
      font-size: 0.9rem;
    }
  }
}

.overflowY-disabled {
  overflow-y: hidden;
}

// pokeball spinner, from this codepen by Vincenzo Bianco: https://codepen.io/vinztt/pen/XjEyvZ
.pokeball {
  box-sizing: border-box;
  color: darken(maroon, 30%);
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50% ;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: spin .8s  linear 0s infinite;
}

.pokeball:after{
  content: '';
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -4px
}

.pokeball:before{
  content: '';
  position: absolute;
  background-color: #fff;
  width: 10px;
  height:10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

/* Animation */
@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


// pkmn type colors
$types : (
  normal: #aa9,
  fire: #f42,
  water: #39f,
  electric: #fc3,
  grass: #7c5,
  ice: #6cf,
  fighting: #b54,
  poison: #a59,
  ground: #db5,
  flying: #89f,
  psychic: #f59,
  bug: #ab2,
  rock: #ba6,
  ghost: #66b,
  dragon: #76e,
  dark: #754,
  steel: #aab,
  fairy: #e9e,
);

@each $type, $color in $types {
  .type-#{$type} {
    background-color: #{desaturate($color, 10%)};
  }
}